/* Main Page */

body {
    color: darkblue !important;
    font-family: 'DynaPuff', cursive !important;
}
/* ====================================================================== */
/*Navigation Bar*/



.navbar-brand {
    font-family: 'DynaPuff', cursive;
    font-weight: 1000;
    font-size: xx-large !important;
    color: darkblue !important;
}

.nav-link {
    font-family: 'DynaPuff', cursive !important;
    color: darkblue !important;
}

.nav-link:hover {
    font-family: 'DynaPuff', cursive !important;
    color: rgb(128, 128, 225) !important;
    font-size: large;
}

.navbar-brand:hover {
    font-family: 'DynaPuff', cursive;
    font-weight: 1000;
    font-size: xx-large !important;
    color: rgb(128, 128, 225) !important;
}
/* Carousel */


.lightsticks {
    border-radius: 20%;
    max-width: 100%;
    max-height: 400px;
  }
  
  

#carousel_text {
    
    font-weight: 1000;
    font-size: xx-large !important;
    margin-top: 20%;

}

#carousel1 {
    padding: 2%;
    margin: 10%;
    width: 100%;
    height: 10%;
}


.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#211f74;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
    margin: 5% 0%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
    text-decoration: none;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Title */
/* ====================================================================== */

.title {
    padding: 15px;
}

.hfont {
    font-family: 'DynaPuff';
    font-weight: 700;
    font-size: 300%;
    line-height: 1.5;
    padding: 15% 15% 5% 15%;
    align-items: center;
    justify-content: center;
}

#main_picture {
    width: 90%;
    height: 90%;
}

.mainbtn {

    align-items: center;
    display: flex;
    justify-content: center;
}   


#btn1 {
    margin: 20px;
}
#btn2 {
    margin: 20px;
}

@media only screen and (max-width: 844px) and (min-width: 390px) {
    .hfont {
        font-family: 'DynaPuff';
        font-weight: 700;
        font-size: 200%;
        line-height: 1.5;
        padding: 15% 15% 5% 15%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

/* Testimonials */
/* ====================================================================== */

#heading_testimonies {
    font-weight: 1000;
    font-size: xx-large !important;
    margin: 10%;
} 

#paragraph_testimonies {
    font-weight: 600;
    font-size:large !important;
    margin: 10%;
} 

.video_main {
    padding: 0;
    border-radius: 10%;
    overflow: hidden;
}

/* Partnership Logo */
/* ====================================================================== */

.partnership {
    text-align: center;
    border: 0;
}

.partnership_title {
    border: 10% 10%;  
}

.logos {
    width:230px;
    height:100px;
    margin: 3% 8%;

}



/* Footer */
/* ====================================================================== */

footer {
    text-align: center;
    font-size: 72;
    line-height: 1.5;
    font-weight: 700;
    padding: 3%;
    }
  
  
    .social-icon {
      margin: 20px 10px;
    }
